
body{
	font-size: 16px;
}

h1{
	color: #10a0df;
	font-weight: bold;
	text-align: center;
}

.browser{
	text-align: center;
}

.search{
	background: #f3f2f2;
	border:0;
	color: #535353;
	display: inline-block;
	font-weight: bold;
	font-family: Arial;
	text-indent: 0.7em;
	vertical-align: top;
	width: 50em;
	height: 3em;
}

/* PLACEHOLDER SEARCH */
::-webkit-input-placeholder{
	font-weight: bold;
	font-family: Arial;
	letter-spacing: 1px;
}

:-moz-placeholder { /* Firefox 18- */
	font-weight: bold;
	font-family: Arial;  
	letter-spacing: 1px;
}

::-moz-placeholder {  /* Firefox 19+ */
	font-weight: bold;
	font-family: Arial;
	letter-spacing: 1px;  
}

:-ms-input-placeholder {  
	font-weight: bold;
	font-family: Arial;
	letter-spacing: 1px;
}

/* END PLACEHOLDER */


span.glyphicon.glyphicon-search{
	border: 2px solid transparent;
	color: #535353;
	font-size: 2em;
	width: 2em;
	height: 1.5em;
	padding: 6px 0;
}

span.glyphicon.glyphicon-search:hover{
	background: #2aa6ff;
	color: #ffffff;
}


.select-colors{
	background: #f7f7f7;
	padding-top: 2em;
	padding-bottom: 2em;
	text-align: center;
	position: relative;

}

.row-two-colors{
	margin-top: 1.5em;
}

.colors{
	margin-right: 1em;
	display: inline-block;
	vertical-align: top;
}

.colors figure{
	border: 3px solid #ffffff;
	box-shadow: 1.364px 1.463px 0px 0px rgba(0, 0, 0, 0.22);
	width: 3.5em;
	height: 2em;
	margin-left: 0.7em;
	z-index: 4;
	position: relative;
}

.activity{
	background: #ffffff;
	box-shadow: 1.3px 1.4px 0px 0px rgba(0,0,0,0.22);
	border-radius: 5px;
	height: 3.2em;
	width: 5em;
	z-index: 3;
	
	margin-top: -1em;
	position: relative;
}

.activity span{
	display: block;
	color: #313131;
	font-size: 0.7em;
	font-family: Arial;
	font-weight: bold;
	padding-top: 1.9em;
	line-height: 1.2;
}



#activity{
	color: #313131;
	font-size: 0.7em;
	font-family: Arial;
	font-weight: bold;
	text-align: center;
}

/* COLORES */
#Symposium{
	background: #e01783;
}

#Workshop{
	background: #70d0ec;
}

#Forum{
	background: #b0e3e4;
}

#master{
	background: #db8925;
}

#courses{
	background: #f55197;
}

#test-session{
	background: #ff5c36;
}

#focus-session{
	background: #f8bf00;
}

#controversy{
	background: #4a9463;
}

#spotlights{
	background: #8094dd;
}

#new-sessions{
	background: #ea6953;
}

#free{
	background: #b150c5;
}

#live-courses{
	background: #3cbfae;
}

#subspeciality{
	background: #76881e;
}

#plenary-lectures{
	background: #415464;
}

#AGM{
	background: #bbe094;
}

#satellite-symposio{
	background: #9d1e65;
}

#meet-the-experts{
	background: #a292b3;
}

/* FIN COLORES */




/** CALENDAR **/
.calendar{
	padding-top: 2em;
}


/** Tag Days **/
.tag-days{
	background: #0067b1;
	color: #ffffff;
	font-size: 0.9em;
	font-family: Arial;
	font-weight: bold;
	padding: 0.8em 0.5em;
	text-align: center;
	margin-right: 1em;

	line-height: 1.2;
}

.tag-days:active , .tag-days:hover{
	background: #2aa6ff;
}












/** BOTONES DE DESCARGAS */
.download{
	text-align: center;
	padding: 2em 0em;
}
.download-button{
	border: 2px solid #2aa6ff;
	border-radius: 5px;
	color: #2aa6ff;
	font-weight: bold;
	padding: 0.7em;
	text-align: center;
}

.download-button:hover{
	background: #2aa6ff;
	color: #ffffff;
	text-decoration: none;
}