
@font-face {
    font-family: 'Josefina';
    src: url('../fonts/JosefinSans-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Bariol';
    src: url('../fonts/Bariol_Regular.otf') format('truetype');
}


/******************************************************************/

body{
	font-size: 16px;
}

h1{
	color: #10a0df;
	font-weight: bold;
	text-align: center;
}

.img-responsive img{
	text-align: center;
}

.browser{
	text-align: center;
}

.search{
	background: #f3f2f2;
	border:0;
	color: #535353;
	display: inline-block;
	font-weight: bold;
	font-family: Arial;
	text-indent: 0.7em;
	vertical-align: top;
	width: 50em;
	height: 3em;
}

/* PLACEHOLDER SEARCH */
::-webkit-input-placeholder{
	font-weight: bold;
	font-family: Arial;
	letter-spacing: 1px;
}

:-moz-placeholder { /* Firefox 18- */
	font-weight: bold;
	font-family: Arial;  
	letter-spacing: 1px;
}

::-moz-placeholder {  /* Firefox 19+ */
	font-weight: bold;
	font-family: Arial;
	letter-spacing: 1px;  
}

:-ms-input-placeholder {  
	font-weight: bold;
	font-family: Arial;
	letter-spacing: 1px;
}

/* END PLACEHOLDER */


span.glyphicon.glyphicon-search{
	border: 2px solid transparent;
	color: #535353;
	font-size: 2em;
	width: 2em;
	height: 1.5em;
	padding: 6px 0;
}

span.glyphicon.glyphicon-search:hover{
	background: #2aa6ff;
	color: #ffffff;
}


.select-colors{
	background: #f7f7f7;
	padding-top: 2em;
	padding-bottom: 2em;
	text-align: center;
	position: relative;

}

.row-two-colors{
	margin-top: 1.5em;
}

.colors{
	margin-right: 1em;
	display: inline-block;
	vertical-align: top;

	margin-top: 1em;
}

.colors figure{
	border: 3px solid #ffffff;
	box-shadow: 1.364px 1.463px 0px 0px rgba(0, 0, 0, 0.22);
	width: 3.5em;
	height: 2em;
	margin-left: 0.7em;
	z-index: 4;
	position: relative;
}

.activity{
	background: #ffffff;
	box-shadow: 1.3px 1.4px 0px 0px rgba(0,0,0,0.22);
	border-radius: 5px;
	height: 3.2em;
	width: 5em;
	z-index: 3;
	
	margin-top: -1em;
	position: relative;
}

.activity span{
	display: block;
	color: #313131;
	font-size: 0.7em;
	font-family: Arial;
	font-weight: bold;
	padding-top: 1.9em;
	line-height: 1.2;
}

#activity{
	color: #313131;
	font-size: 0.7em;
	font-family: Arial;
	font-weight: bold;
	text-align: center;
}

/* COLORES */
#Symposium{
	background: #e01783;
}

#Workshop{
	background: #70d0ec;
}

#Forum{
	background: #b0e3e4;
}

#master{
	background: #db8925;
}

#courses{
	background: #f55197;
}

#test-session{
	background: #ff5c36;
}

#focus-session{
	background: #f8bf00;
}

#controversy{
	background: #4a9463;
}

#spotlights{
	background: #8094dd;
}

#new-sessions{
	background: #ea6953;
}

#free{
	background: #b150c5;
}

#live-courses{
	background: #3cbfae;
}

#subspeciality{
	background: #76881e;
}

#plenary-lectures{
	background: #415464;
}

#AGM{
	background: #bbe094;
}

#satellite-symposio{
	background: #9d1e65;
}

#meet-the-experts{
	background: #a292b3;
}

/* FIN COLORES */




/** CALENDAR **/
.calendar{
	padding-top: 2em;
}


/** Tag Days **/
.tag-days{
	background: #0067b1;
	color: #ffffff;
	font-size: 0.9em;
	font-family: Arial;
	font-weight: bold;
	padding: 0.8em 0.4em;
	text-align: center;
	margin-right: 1em;
	line-height: 1.2;
}

.tag-days:active , .tag-days:hover{
	background: #2aa6ff;
}

.hours-calendar{
	position: relative;
}

.hours-calendar, .rooms{
	background: #f6f5f5;
}

.rooms{
	padding-bottom: 2em;
}

/*.controls-calendar-right{
	float: right;
	position: absolute;
	right: 6.5em;
	top: 0;
}*/
.controls-calendar-left a{
	background: #c9c9c9;
	color: #ffffff;
	display: inline-block;
	padding: 0.5em 0.8em;
	float: right;
}

.controls-calendar-right a{
	background: #c9c9c9;
	color: #ffffff;
	display: inline-block;
	padding: 0.5em 0.8em;
}

.controls-calendar-left a:hover, .controls-calendar-right a:hover{
	background: #2aa6ff;
	color: #ffffff;
}

.hours{
	background: #e5e5e5;
	color: #000000;
	padding: 0.5em 0.5em;
	text-align: center;
	border-bottom: 4px solid #d2d0d0;
}

.hours span{
	font-weight: bold;
	font-size: 0.8em;
}

.row-new{
	margin-top: 1em;
}

.room{
	background: #d2d0d0;
	color: #000000;
	padding: 0.5em 0.3em;
	text-align: center;
	font-family: Arial;
	font-size: 0.8em;
	font-weight: bold;

	margin-top: 1.5em;
	/*border-right: 0.6em solid #f6f5f5;*/
}

.activid, .h-marg{
	/*margin-left: 0.9em;*/
}

.activ{
	background: #ffffff;
	color: #434343;
	text-align: center;
	padding: 0.5em 0.5em;
	height: 5em;
}

.activity-1{
	border: 2px solid #a292b3;
	border-radius: 0;
	width: 25.4em;
}

.activity-1:hover{
	background: #a292b3;
	border: 2px solid transparent;
	color: #ffffff;
	cursor: pointer;
}

.activity-2{
	border: 2px solid #f55197;
	width: 12.15em;
}

.activity-2:hover{
	background: #f55197;
	border: 2px solid transparent;
	color: #ffffff;
	cursor: pointer;
}

.activity-3{
	border: 2px solid #b150c5;
	width: 12.15em;
}

.activity-3:hover{
	background: #b150c5;
	border: 2px solid transparent;
	color: #ffffff;
	cursor: pointer;
}

.activity-4{
	border: 2px solid #00afab;
	width: 12.15em;
}

.activity-4:hover{
	background: #00afab;
	border: 2px solid transparent;
	color: #ffffff;
	cursor: pointer;
}

.activity-5{
	border: 2px solid #8094dd;
	width: 25.4em;
}

.activity-5:hover{
	background: #8094dd;
	border: 2px solid transparent;
	color: #ffffff;
	cursor: pointer;
}

.activity-6{
	border: 2px solid #76881e;
	width: 12.15em;
}

.activity-6:hover{
	background: #76881e;
	border: 2px solid transparent;
	color: #ffffff;
	cursor: pointer;
}

.activity-7{
	border: 2px solid #415464;
	width: 12.15em;
}

.activity-7:hover{
	background: #415464;
	border: 2px solid transparent;
	color: #ffffff;
	cursor: pointer;
}

.activity-8{
	border: 2px solid #db8925;
	width: 12.15em;
}

.activity-8:hover{
	background: #db8925;
	border: 2px solid transparent;
	color: #ffffff;
	cursor: pointer;
}

.activity-9{
	border: 2px solid #70d0ec;
	width: 38.3em;
}

.activity-9:hover{
	background: #70d0ec;
	border: 2px solid transparent;
	color: #ffffff;
	cursor: pointer;
}

.activity-10{
	border: 2px solid #4a9463;
	width: 25.4em;
}

.activity-10:hover{
	background: #4a9463;
	border: 2px solid transparent;
	color: #ffffff;
	cursor: pointer;
}

.activ span{
	font-size: 0.9em;
	line-height: 0.5;
}


/** MODAL **/

div.modal-content{
	border-radius: 0;
	margin-top: 7em;
	position: relative;
}

.button-close{
	background: none;
	border: 0;
	color: #ffffff;
	position: absolute;
	top: -1em;
	right: -6em;
}

#close-modal{
	margin-top: 0.8em;
}

.button-close:hover{
	background: none;
	border: 0;
	color: #ffffff;
}

.date-days{
	color: #aaaaaa;
	font-family: 'Josefina';
	font-size: 12px;
	margin-left: 2em;
}

.title-activity-modal{
	background: #8094dd;
	color: #ffffff;
	font-family: Arial;
	font-style: normal;
	text-align: center;
	padding: 0.5em 0;

	width: 95%;
	margin-left: 1.5em;
}

.speaker-title{
	display: block;
	font-family: 'Bariol';
	text-align: center;
	margin-top: 1.5em;
}

#tag-prof{
	background: #2aa6ff;
	display: block;
	color: #ffffff;
	font-family: 'Bariol';
	padding: 0.3em 0.3em;
	text-align: center;
	width: 5em;

	margin-left: 11em;
}

.modal-detail-title{
	background: #ff6b6b;
	color: #ffffff;
	font-weight: bold;
	font-family: 'Arial';
	text-align: center;
	padding: 0.8em 0.6em;
	margin-top: 1em;

	width: 85%;
	margin-left: 4em;
}

.act-spk{
	padding: 1.5em 0;

	width: 100%;
	margin-left: 0em;
}

.inter-speaker{
	background: #eeeeee;
}

.speaker{
	text-align: center;
	font-family: 'Bariol';
}

.tag-activity-for-hours{
	background: #969f8e;
	padding-left: 0.4em;
	padding-right: 0.5em;
	padding-bottom: 0.5em;

	width: 14em;
	text-align: center;
	margin-left: 4em;
}

.hours-activity-modal{
	color: #ffffff;
	display: block;
	font-family: Arial;
	font-weight: bold;
	text-align: center;
	padding: 0.5em 0;
}

.name-activity-modal{
	background: #ffffff;
	display: block;
	color: #535353;
	font-family: 'Arial';
	font-style: normal;
	font-size: 0.9em;
	padding: 0.5em 0.5em;
	text-align: center;
}




/** BOTONES DE DESCARGAS */
.download{
	text-align: center;
	padding: 3em 0;
}
.download-button{
	border: 2px solid #2aa6ff;
	border-radius: 5px;
	color: #2aa6ff;
	font-weight: bold;
	padding: 1em;
	text-align: center;

	margin-right: 0.8em;
}

.download-button:hover{
	background: #2aa6ff;
	color: #ffffff;
	text-decoration: none;
}





/** MEDIA QUERIES **/
/* Extra small devices (phones, less than 768px) */
@media(max-width: 768px) { 
	
	.search{		
		width: 16.5em;
		height: 3em;
	}

	/* PLACEHOLDER SEARCH */
	::-webkit-input-placeholder{
		font-size: 0.9em;
	}

	:-moz-placeholder { /* Firefox 18- */
		font-size: 0.9em;
	}

	::-moz-placeholder {  /* Firefox 19+ */
		font-size: 0.9em;  
	}

	:-ms-input-placeholder {  
		font-size: 0.9em;
	}

	/* END PLACEHOLDER */

	#close-modal-phone{
		border: 1px solid #898989;
		background: none;
		color: #898989;		
		font-weight: bold;
	}

	#close-modal-phone:hover{
		border: 1px solid #2aa6ff;
		background: none;
		color: #2aa6ff;		
		font-weight: bold;
	}

	.tag-days{		
		background: #0067b1;
		color: #ffffff;
		font-size: 0.9em;
		font-family: Arial;
		font-weight: bold;
		text-align: center;	
		line-height: 1.2;
		margin-bottom: 0.9em;
		margin-right: 0;
		border-right: 3px solid #ffffff;
	}

	.title-activity-modal{
		width: 93%;
		margin-left: 1.4em;
	}

	#tag-prof{
		margin-left: 6.5em;
	}

	.modal-detail-title{
		margin-left: 3em;
	}
	
	.speaker{
		margin-bottom: 0.7em;
	}

	.tag-activity-for-hours{
		margin-left: 27%;
	}

	

	.download-button{		
		padding: 0.7em 0.7em;
		margin-bottom: 1em;
		width: 12em;
		text-align: center;
	}

}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 992px) { 
	
	.search{		
		width: 35em;
		height: 3em;
	}

	.activ{
		line-height: 1;
		padding-top: 0.8em;
		height: 6em;
	}

	.activity-9{
		width: 23em;
	}

	.activity-1, .activity-5, .activity-10{
		width: 15em;
	}

	.activity-2, .activity-3, .activity-4, .activity-6, .activity-7, .activity-8{
		width: 8em;
	}

	.tag-days{		
		background: #0067b1;
		border-right: 3px solid #ffffff;
		color: #ffffff;
		font-size: 0.9em;
		font-family: Arial;
		font-weight: bold;
		text-align: center;	
		line-height: 1.2;
		margin-bottom: 0.9em;
		margin-right: 0;
	}

	.title-activity-modal{
		width: 93%;
		margin-left: 1.3em;
	}

	#tag-prof{
		margin-left: 6em;
	}

	.modal-detail-title{
		margin-left: 3em;
	}
	
	.speaker{
		margin-bottom: 0.7em;
	}

	.tag-activity-for-hours{
		margin-left: 11em;
	}
}